---
import type { GetStaticPaths } from "astro";
import Layout from "../layouts/Layout.astro";
import classNames from "classnames";
import { getCollection } from "astro:content";
import dayjs from "dayjs";
import type { Post } from "../content.config";
import { excerpt } from "../logic/excerpt";

export const getStaticPaths = (async () => {
  return (await getCollection("posts"))
    .map((post) => {
      if (!post.rendered)
        throw new Error(`No rendered HTML for ${post.data.slug}`);
      return { ...post, rendered: post.rendered };
    })
    .map((post) => ({
      params: { slug: post.data.slug },
      props: { post },
    }));
}) satisfies GetStaticPaths;

const { post } = Astro.props;
const { html } = post.rendered ?? {};
if (!html) throw new Error(`No rendered HTML for ${post.data.slug}`);

const cn = classNames(
  "max-w-none",
  "prose",
  "prose-lg",
  "dark:prose-invert",

  "prose-li:my-0",
  "prose-ul:my-0",
  "prose-p:my-4",
  "prose-h1:my-4",
  "prose-h2:my-4",
  "prose-h3:my-4",
  "prose-h4:my-4",
  "prose-h5:my-4",
  "prose-h6:my-4",
  "prose-pre:my-4",

  "prose-h1:text-3xl",
  "prose-h2:text-2xl",
  "prose-h3:text-xl",
  "prose-h4:text-lg",
  "prose-h5:text-lg",
  "prose-h6:text-lg"
);
---

<Layout title={post.data.title} desc={excerpt(html)}>
  <article>
    <div class="text-center my-12">
      <h1 class="text-3xl">{post.data.title}</h1>
      <p class="mb-4">{dayjs(post.data.date).format("dddd, MMMM D, YYYY")}</p>
    </div>
    <div class={cn}>
      <Fragment set:html={html} />
    </div>

    <p class="italic my-12 text-center">
      I'd love to hear what you think about this post.
      <a href="mailto:matt@mplewis.com" class="underline">Email me!</a>
    </p>
  </article>
</Layout>
